
        <div id="rtDiv" ng-modules="RtMod, MyModuleA, MyModuleB">
            <h1>Module Root</h1>
            <div>
                <div id="idMapCol" ng-controller="RtCtrl">
                    {{name}}
                    <div ng-module="MyModuleA, MyModuleB">
                        <h1>Module A, B</h1>
                        <div ng-controller="MyControllerA">
                            {{name}}
                        </div>
                        <div ng-controller="MyControllerB">
                            {{name}}
                        </div>
                    </div>

                    <div ng-module="MyModuleB">
                        <h1>Just Module B</h1>
                        <div ng-controller="MyControllerB">
                            {{name}}
                            <br>
                            <button ng-click="clickB()">ClickB</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
