
    <div id="rtML">
        <div id="rtDiv" ng-module="RtMod, MyModuleA, MyModuleB" class="rtmod">
            <h1>Module Root</h1>
            <div id="idMLToolbar" ng-controller="RtCtrl" class="mapcon">
                {{name}}
                <br>
                {{msg}}
                <br>
                <div class=btncontainer>
                    <button id="idShowLinkrBtn" ng-click="showLinkr()">Show Linkr</button>
                </div>
                <br>
            </div>
`       </div>
        <div class="innerdiv">
            <h1>Module A, B</h1>
            <div ng-controller="MyControllerA">
                {{name}}
            </div>
            <div ng-controller="MyControllerB">
                {{msg}}
            </div>
        </div>

        <div class="innerdiv">
            <h1>Just Module B</h1>
            <div ng-controller="MyControllerB">
                {{name}}
                <br>
                {{msg}}
                <br>
                <button ng-click="clickB()">ClickB</button>
            </div>
        </div>

    </div>
