<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js'></script>
        <script src="/javascripts/libs/ng-modules.js"></script>
        <script src="/javascripts/libs/ClientSideInclude.js"></script>
        <script src='/javascripts/script.js'></script>
        <script src="/javascripts/main.js"></script>
    </head>
    <body>
        <div class="mapccolF">
            <div style="text-align: center;" class="mapcolS">
                <h2><%= title %></h2>
                <p>Welcome to <%= title %></p>
            </div>
            <div class="mapcolS">
                <button style="margin-left: 1em;" onclick="onLoadLinkrClick()">LoadLinkr</button>
            </div>
            <div id='MapCol' class"=mapcolS">
                <div id="MapLinkrHolder" class="mapcolS">MapLinkr Holder</div>
                <div id="idMapColInner" class="mapcolS"</div>
                    <p style="text-align: center;">Map Goes in Here</p>

                    <div id="idMapContainer" class="mapcolS">
                        <p style-"text-align: center;">This is the Map</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
